.fundo_card{
    width: 22%;
    height: 550px;
    border-radius: 25px;
    border: 2px solid #024959;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_card{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.img_user{
    background-image: url(../../../../public/userImg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1000px;
    width: 200px;
    height: 200px;
}

.grid_card > p{
    color: #024959;
    text-transform: capitalize;
    font-size: 20px;
}